<p><fb:login-button perms="user_photos,user_videos,publish_stream" autologoutlink="true"></fb:login-button></p>

<div id="fb-root"></div>
   <script>
     window.fbAsyncInit = function() {
       FB.init({appId: '165621366805376', status: true, cookie: true,
                xfbml: true});
        if (FB._session){
            var a = window.document.getElementById('test') 
            a.href = a.href + "?access_token=" + FB._session.access_token
        }        
     };
     (function() {
       var e = document.createElement('script');
       e.type = 'text/javascript';
       e.src = document.location.protocol +
         '//connect.facebook.net/en_GB/all.js';
       e.async = true;
       document.getElementById('fb-root').appendChild(e);
     }());
    
   </script>

<%= link_to 'Friends', 'https://graph.facebook.com/me/friends', :id => 'test' %>