<%= content_tag :span, 'Autobiographer', :id => 'site_title' %>
<div id='login_options'>
  <%= link_to image_tag('services/facebook_sign_in.png'), new_facebook_authentication_path %>
  <%= link_to image_tag('services/twitter_sign_in.png'), new_twitter_authentication_path %>
  <%= link_to image_tag('services/foursquare_sign_in.png'), new_foursquare_authentication_path %>
</div>