html {
  font-family: Garamond, Georgia, Times, 'Times New Roman';
}
body {
  padding: 3em 0;
  margin: 0;
  position: relative;
}
header,
nav,
section,
article {
  display: block;
}
img {
  border: none;
}
#login_content {
  text-align: center;
}
#site_title {
  font-family: 'AquilineTwo';
  display: block;
  margin: 0 auto;
  font-size: 3em;
}
#site_subtitle {
  display: block;
  font-family: Garamond, Georgia, Times, 'Times New Roman';
  font-size: 2em;
  margin: 1em 0px;
}
#login_options {
  margin: 2em 0;
}
#login_options a {
  margin-right: 1em;
}
.site_menu {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5a5a5a), color-stop(1, #333333));
  background: -moz-linear-gradient(center bottom, #5a5a5a 0%, #333333 100%);
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
  font-size: 1.3em;
}
.site_menu ul {
  width: 70%;
  min-width: 600px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
.site_menu .menu_item {
  display: inline-block;
  position: relative;
}
.site_menu .menu_item a {
  display: inline-block;
  color: white;
  padding: 0.5em;
  line-height: 22px;
  text-decoration: none;
}
.site_menu .menu_item a:hover {
  color: #EEE;
}
.site_menu .menu_item div.plupload input {
  cursor: pointer;
  height: 100%;
  vertical-align: top;
}
.site_menu .menu_item + .menu_item {
  margin-left: 1em;
}
.site_menu #sign_out_link {
  float: right;
}
.site_menu #chapters_link a {
  border: solid transparent;
  border-width: 0 1px;
}
.site_menu #chapters_link a.open {
  color: black;
  z-index: 1;
  position: relative;
  background-color: white;
  border-color: #bbbbbb;
}
.site_menu #chapter_menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 15em;
  overflow: hidden;
  white-space: nowrap;
  background-color: white;
  padding: 0.5em 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border: solid #bbbbbb;
  border-width: 0 1px 1px;
}
.site_menu #chapter_menu a {
  display: block;
  padding: 0.25em 0.5em;
  color: black;
  font-size: 0.8em;
}
.site_menu #chapter_menu a:hover {
  color: white;
  color: white;
  background: #195ec4;
}
.site_menu #account_links a {
  padding: 0px;
}
.site_menu #account_links a img {
  vertical-align: top;
}
.body_content {
  margin: 0 auto;
  width: 70%;
  min-width: 600px;
}
.status_bar {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5a5a5a), color-stop(1, #333333));
  background: -moz-linear-gradient(center bottom, #5a5a5a 0%, #333333 100%);
  position: fixed;
  bottom: -30px;
  width: 100%;
  height: 30px;
  color: white;
  line-height: 30px;
  display: none;
}
.editable_text {
  border-bottom: 1px solid transparent;
}
.editable_text:hover {
  border-bottom: 1px solid black;
}
.editable_text_input {
  background: transparent;
  border: 0px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  margin: -0.1em;
  padding: 0.1em;
  color: inherit;
  font-variant: inherit;
  width: 100%;
}
.autogrow_sizer {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
#upload_progress {
  text-align: center;
}
.events {
  padding: 0;
  list-style: none;
}
.event {
  position: relative;
}
.event .clickable {
  cursor: pointer;
}
.event .clickable .controls {
  display: none;
}
.event .clickable:hover {
  background: #F0F0F0;
}
.event.selected .clickable {
  cursor: default;
  z-index: 503;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px;
}
.event.selected .clickable .controls {
  display: block;
}
.event.selected .clickable:hover {
  background: white;
}
.event.selected .timestamp.same_day {
  border-top: none;
  margin-top: auto;
}
.event .new_chapter_link, .event .delete_chapter_link {
  top: -2em;
  font-size: 1.1em;
  padding: 0.5em 1em;
  position: absolute;
  text-decoration: none;
  text-shadow: 0 1px 1px white;
  font-weight: bold;
  font-variant: small-caps;
  color: #333;
  background: #DDD;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-left: 10%;
  display: none;
}
.event .new_chapter_link:hover, .event .delete_chapter_link:hover {
  background: #EEE;
}
.event.selected .new_chapter_link, .event.selected .delete_chapter_link {
  z-index: 502;
  display: block;
}
.event_overlay {
  position: absolute;
  z-index: 501;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  top: 0;
  left: 0;
}
.chapter {
  font-family: 'Georgia', Times, serif;
  position: relative;
  background: white;
  padding: 2em;
  border-bottom: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.chapter .body {
  margin-left: 250px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.chapter blockquote {
  font-style: italic;
  margin: 0.25em;
}
.chapter blockquote .ldquo, .chapter blockquote .rdquo {
  color: #888;
}
.chapter header {
  font-size: 1.4em;
  text-align: center;
  position: relative;
  padding: 4em 0 1em;
  font-family: Times;
}
.chapter header .chapter_number {
  margin-bottom: 0.5em;
  display: block;
  font-variant: small-caps;
}
.chapter header h2 {
  margin: 0.5em 0 0.5em;
  color: #195ec4;
  font-variant: small-caps;
}
.chapter header h2 input {
  text-align: center;
  background: transparent;
  border: 0px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  margin: -0.1em;
  padding: 0.1em;
  color: inherit;
  font-variant: inherit;
  width: 100%;
}
.chapter header h2 input:hover {
  text-decoration: underline;
}
.chapter header h3 {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-style: italic;
  font-weight: normal;
}
.chapter header h3 input {
  text-align: center;
  background: transparent;
  border: 0px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  margin: -0.1em;
  padding: 0.1em;
  color: inherit;
  font-variant: inherit;
  width: 100%;
}
.chapter header h3 input:hover {
  text-decoration: underline;
}
.chapter header h3.empty {
  display: none;
}
.event.selected .chapter header h3 {
  display: block;
}
.comment, .photo_group, .checkin {
  font-family: 'Georgia', Times, serif;
  position: relative;
  background: white;
  padding: 2em;
  border-bottom: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.comment .body, .photo_group .body, .checkin .body {
  margin-left: 250px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.comment blockquote, .photo_group blockquote, .checkin blockquote {
  font-style: italic;
  margin: 0.25em;
}
.comment blockquote .ldquo,
.photo_group blockquote .ldquo,
.checkin blockquote .ldquo,
.comment blockquote .rdquo,
.photo_group blockquote .rdquo,
.checkin blockquote .rdquo {
  color: #888;
}
.comment .timestamp, .photo_group .timestamp, .checkin .timestamp {
  color: #888;
  position: absolute;
  left: 0;
  top: 0;
  width: 220px;
  height: 100%;
  display: block;
  padding: 2em 1em 2em 2em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.comment .timestamp.same_day, .photo_group .timestamp.same_day, .checkin .timestamp.same_day {
  border-top: 1px solid white;
  margin-top: -1px;
}
.comment .service_icon, .photo_group .service_icon, .checkin .service_icon {
  position: absolute;
  left: 220px;
}
.note {
  position: relative;
}
.note .editable_note {
  background: transparent;
  border: 0px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  margin: -0.1em;
  padding: 0.1em;
  color: inherit;
  font-variant: inherit;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  background: #FFD;
  border: 1px solid #EDA;
  padding: 0.5em;
  font-family: 'Georgia', Times, serif;
}
.event .note {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 1px dotted #CCC;
  display: block;
}
.event .note.empty {
  display: none;
}
.event.selected .note {
  display: block;
}
.photo {
  width: 214px;
  text-align: center;
  position: relative;
  display: inline-block;
}
.photo .delete_photo_link {
  display: inline-block;
  vertical-align: top;
  left: -20px;
  position: relative;
  top: -5px;
  height: 0;
  width: 0;
  z-index: 1;
  visibility: hidden;
}
.photo .delete_photo_link > img {
  background: url("/images/buttons/buttons-red.png") -40px 0;
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: inline-block;
}
.photo .thumbnail img {
  padding: 4px;
  background: white;
  margin: 2px;
  border: 1px solid #E0E0E0;
  border-bottom-color: #AAAAAA;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 4px;
  background: white;
  margin: 2px;
  border: 1px solid #E0E0E0;
  border-bottom-color: #AAAAAA;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  vertical-align: middle;
}
.event.selected .photo .delete_photo_link {
  visibility: visible;
}
.fake_placeholder {
  color: #AAA !important;
}
