/* Rounded Corners */
html {
  font-family: Helvetica;
}
body {
  margin: 0;
  padding: 2em 0;
}
header,
nav,
section,
article {
  display: block;
}
.site_menu {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5a5a5a), color-stop(1, #333333));
  background: -moz-linear-gradient(center bottom, #5a5a5a 0%, #333333 100%);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.site_menu ul {
  width: 800px;
  margin: 0 auto;
  list-style: none;
  line-height: 2em;
  border-bottom: 1px solid black;
  padding: 0;
}
.site_menu .menu_item {
  color: white;
  font-size: 1em;
  display: inline-block;
}
.site_menu .menu_item a {
  color: inherit;
  text-decoration: none;
}
.site_menu .menu_item a:hover {
  color: #EEE;
}
.site_menu .menu_item img {
  vertical-align: text-bottom;
  border: none;
}
.site_menu .menu_item + .menu_item {
  margin-left: 1em;
}
.site_menu #sign_out_link {
  float: right;
}
.body_content {
  margin: 0 auto;
  width: 800px;
}
#drop_indicator {
  color: #AAA;
  font-size: 1em;
  text-align: center;
}
.editable_text {
  border-bottom: 1px solid transparent;
}
.editable_text:hover {
  border-bottom: 1px solid black;
}
.editable_text_input {
  background: transparent;
  border: 0px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  margin: -0.1em;
  padding: 0.1em;
  color: inherit;
  font-variant: inherit;
}
.editable_text_input:hover {
  text-decoration: underline;
}
.chapter {
  padding: 0;
}
.chapter header {
  font-family: Times;
  font-variant: small-caps;
  font-size: 1.4em;
  text-align: center;
  position: relative;
  margin: 4em 0 1em;
}
.chapter header .chapter_number {
  margin: 2em 0 1em;
  display: block;
}
.chapter header h2 {
  margin: 0;
  color: #195ec4;
}
.chapter header h2 input {
  width: 100%;
  text-align: center;
  background: transparent;
  border: 0px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  margin: -0.1em;
  padding: 0.1em;
  color: inherit;
  font-variant: inherit;
}
.chapter header h2 input:hover {
  text-decoration: underline;
}
.chapter header h3 {
  margin-top: 0;
  font-style: italic;
  display: none;
}
.chapter header h3 input {
  width: 100%;
  text-align: center;
  background: transparent;
  border: 0px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  margin: -0.1em;
  padding: 0.1em;
  color: inherit;
  font-variant: inherit;
}
.chapter header h3 input:hover {
  text-decoration: underline;
}
.chapter header:focus h3 {
  display: inherit;
}
.events {
  padding: 0;
  list-style: none;
}
.events .event {
  margin: 1em 0;
  font-family: 'Day Roman', Times, serif;
}
.events .event .timestamp {
  color: #888;
  font-size: 0.8em;
}
.events .event_spacer {
  position: relative;
  cursor: pointer;
  padding-top: 1px;
  margin: 1em 0;
}
.events .event_spacer .chapter_control {
  height: 1.5em;
  position: absolute;
  width: 100%;
  top: -0.75em;
  text-decoration: none;
}
.events .event_spacer .chapter_control .text {
  color: white;
  position: absolute;
  width: 130px;
  left: -130px;
  margin-left: -3%;
  text-align: center;
  line-height: 1.5em;
  display: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.events .event_spacer .chapter_control .line {
  border-top: 1px solid #DDD;
  position: absolute;
  top: 50%;
  width: 100%;
}
.events .event_spacer .chapter_control:hover .text {
  display: block;
}
.events .event_spacer .chapter_control:hover .line {
  width: 103%;
  left: -3%;
}
.events .event_spacer .chapter_breaker {
  height: 1.5em;
  position: absolute;
  width: 100%;
  top: -0.75em;
  text-decoration: none;
}
.events .event_spacer .chapter_breaker .text {
  color: white;
  position: absolute;
  width: 130px;
  left: -130px;
  margin-left: -3%;
  text-align: center;
  line-height: 1.5em;
  display: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.events .event_spacer .chapter_breaker .line {
  border-top: 1px solid #DDD;
  position: absolute;
  top: 50%;
  width: 100%;
}
.events .event_spacer .chapter_breaker:hover .text {
  display: block;
}
.events .event_spacer .chapter_breaker:hover .line {
  width: 103%;
  left: -3%;
}
.events .event_spacer .chapter_breaker .text {
  background: #8A8;
}
.events .event_spacer .chapter_breaker:hover .line {
  border-color: #8A8;
}
.events .event_spacer .chapter_joiner {
  height: 1.5em;
  position: absolute;
  width: 100%;
  top: -0.75em;
  text-decoration: none;
}
.events .event_spacer .chapter_joiner .text {
  color: white;
  position: absolute;
  width: 130px;
  left: -130px;
  margin-left: -3%;
  text-align: center;
  line-height: 1.5em;
  display: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.events .event_spacer .chapter_joiner .line {
  border-top: 1px solid #DDD;
  position: absolute;
  top: 50%;
  width: 100%;
}
.events .event_spacer .chapter_joiner:hover .text {
  display: block;
}
.events .event_spacer .chapter_joiner:hover .line {
  width: 103%;
  left: -3%;
}
.events .event_spacer .chapter_joiner .text {
  background: #A88;
}
.events .event_spacer .chapter_joiner:hover .line {
  border-color: #A88;
}
