@import 'helper_functions';

@body-width: 800px;

html{
    font-family: Helvetica;
}
body{
    margin: 0;
    padding: 2em 0;
}
header, nav, section, article{
    display:block;
}
.site_menu{
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(90,90,90)), color-stop(1, rgb(51,51,51)));
    background: -moz-linear-gradient(center bottom, rgb(90,90,90) 0%, rgb(51,51,51) 100%);
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;

    ul{
        width: @body-width;
        margin: 0 auto;
        list-style: none;
        line-height: 2em;
        border-bottom: 1px solid black;
        padding: 0;
    }

    .menu_item{
        color: white;
        font-size: 1em;
        display: inline-block;

        a{
            color: inherit;
            text-decoration: none;

            &:hover{
                color: #EEE;
            } 
        }
        img{
            vertical-align: text-bottom;
            border: none;
        }
    }
    .menu_item + .menu_item{
        margin-left: 1em;
    }

    #sign_out_link{
        float:right;
    }
}

.body_content{
    margin: 0 auto;
    width: @body-width;
}

#drop_indicator{
    color:#AAA;
    font-size:1em;
    text-align: center;
}
.editable_text{
    border-bottom: 1px solid transparent;
    
    &:hover{
        border-bottom: 1px solid black;
    }
}
.editable_text_input{
    background: transparent;
    border: 0px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    margin:-0.1em;
    padding:0.1em;
    color: inherit;
    font-variant: inherit;
    
    &:hover{
        text-decoration: underline;        
    } 
}

@event-spacer-height: 1em;
.chapter{
    padding: 0;

    header{
        font-size: 1.4em;
        text-align: center;
        position: relative;
        margin: 4em 0 2em;
        font-family: Times;

        .chapter_number{
            margin-bottom: 0.5em;
            display: block;
            font-variant: small-caps;
        }
        h2{
            margin: 0.5em 0 0.5em;
            color: rgb(25,94,196);
            font-variant: small-caps;
            input{
                width: 100%;
                text-align:center;
                .editable_text_input;
            }
        }
        h3{
            margin-top: 0.5em;
            font-style: italic;
            font-weight: normal;
            display: none;
            input{
                width: 100%;
                text-align:center;
                .editable_text_input;
            }
        }
    }
}

.events{
    padding: 0;
    list-style: none;        

    .event{
        margin: 1em 0;
        font-family: 'Day Roman', Times, serif;
        
        .timestamp{
            color: #888;
            font-size: 0.8em;
        }

    }
    .event_spacer{
        position: relative;
        cursor: pointer;
        padding-top: 1px;
        margin: 1em 0;

        // MIXINS
        @text-line-spacing: 3%;
        .chapter_control{
            height:1.5em;
            position:absolute;
            width:100%;
            top: -0.75em;
            text-decoration: none;

            .text{
                color:white;
                position: absolute;
                width: 130px;
                left: -130px;
                margin-left: @text-line-spacing * -1;
                text-align:center;
                line-height: 1.5em;                
                display: none;
                .rounded-corners(2px);
            }
            .line{
                border-top: 1px solid #DDD;
                position: absolute;
                top: 50%;
                width: 100%;
            }
            &:hover{
                .text{
                    display: block;
                }
                .line{
                    width: 100% + @text-line-spacing;
                    left: @text-line-spacing * -1;
                }  
            }            
        }
        // SPECIFICS

        .chapter_breaker{
            .chapter_control;
            .text{
                background:#8A8;
            }
            &:hover .line{
                border-color: #8A8;
            }
        }
        .chapter_joiner{
            .chapter_control;
            .text{
                background:#A88;    
            }
            &:hover .line{
                border-color: #A88;
            }
        }
    }
}
