@import 'helper_functions';
@import 'dropdown_menu';
@import 'buttons';

.body-width(){
    width: 70%;
    min-width: 600px;
}

html{
    font-family: Helvetica;
}
body{
    padding: 3em 0;
    margin: 0;
    position: relative;
}
header, nav, section, article{
    display:block;
}
img{
    border: none;
}

// ELEMENTS
#site_title{
    font-family: 'AquilineTwo';
    display: block;
    font-size: 3em;
    text-align:center;
}
#login_options{
    margin: 2em 0;
    text-align: center;
    a {
        margin-right: 1em;
    }    
}

.site-menu-background(){
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(90,90,90)), color-stop(1, rgb(51,51,51)));
    background: -moz-linear-gradient(center bottom, rgb(90,90,90) 0%, rgb(51,51,51) 100%);    
}
.site_menu{
    .site-menu-background;
    border-bottom: 1px solid black;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 500;

    ul{
        .body-width;
        margin: 0 auto;
        list-style: none;
        padding: 0;
    }
    .menu_item{
        display: inline-block;
        position: relative;        

        img{
            vertical-align: middle;
            border: none;
        }

        a{
            display: inline-block;
            color: white;
            font-size: 1em;
            padding: 0.5em;
            line-height: 22px;
            text-decoration: none;

            &:hover{
                color: #EEE;
            } 
        }
    }
    .menu_item + .menu_item{
        margin-left: 1em;
    }

    #sign_out_link{
        float:right;
    }

    #chapters_link a{
        .dropdown_menu_trigger;
    }
    #chapter_menu{
        .dropdown_menu;
        a{ .dropdown_menu_item; }
    }
}

.body_content{
    margin: 0 auto;
    .body-width;
}


// STATUS BAR
.status_bar{
    .site-menu-background;    
    position: fixed;
    bottom: -30px;
    width: 100%;
    height: 30px;
    color: white;
    line-height: 30px;    
    display: none;
}


// INPUTS

.editable_text{
    border-bottom: 1px solid transparent;

    &:hover{
        border-bottom: 1px solid black;
    }
}
.editable_text_input{
    background: transparent;
    border: 0px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    margin:-0.1em;
    padding:0.1em;
    color: inherit;
    font-variant: inherit;
    width: 100%;    
}
// Element that is used to calculate the autogrow size of textareas
.autogrow_sizer{
    .border-box;
}

#upload_progress {
    text-align: center;
}

// EVENTS
@event-corner-radius: 3px;
@timestamp-width: 220px;
@service-icon-width: 30px;
@event-padding: 2em;
.events{
    padding: 0;
    list-style: none;        
}
.event{
    position: relative;

    .clickable{
        cursor: pointer;

        .controls{
            display: none;
        }                
    }
    // Event Hovered
    .clickable:hover{
        background: #F0F0F0;
    }
    // Event Selected
    &.selected .clickable{
        cursor: default;
        z-index: @event-overlay-z-index + 2;
        .box-shadow(rgba(0, 0, 0, 0.5) 0px 0px 20px);

        .controls{
            display: block;
        }        
    }
    // Event Selected and hovered    
    &.selected .clickable:hover{
        background: white;
    }
}

.event_block(){
    font-family: 'Georgia', Times, serif;
    position: relative;
    background: white;
    padding: @event-padding;
    border-bottom: 1px solid #CCC;
    .rounded-corners(@event-corner-radius);

    .body{
        margin-left: @timestamp-width + @service-icon-width;
        .border-box;
    }
}
.event_timestamp(){
    .timestamp{
        color: #888;
        position: absolute;
        left: 0;
        top: 0;
        width: @timestamp-width;
        height: 100%;
        display: block;
        padding: @event-padding 1em @event-padding @event-padding;
        .border-box;
        .rounded-left-corners(@event-corner-radius);
    }
    .timestamp.same_day{
        border-top: 1px solid white;
        margin-top: -1px;        
    }
}
.event.selected{
    .timestamp.same_day{
        border-top: none;
        margin-top: auto;
    }
}
.event_service_icon(){
    .service_icon {
        position: absolute;
        left: @timestamp-width;
    }    
}

.event_top_tab(){
    top: -2em;
    font-size: 0.8em;
    padding: 0.5em 1em;
    position: absolute;
    text-decoration: none;
    text-shadow: 0 1px 1px white;
    font-weight: bold;
    color: #333;
    background: #DDD;
    .border-box;
    .rounded-top-corners(@event-corner-radius);
    &:hover{
        background: #EEE;
    }    
}
.event{
    .new_chapter_link, .delete_chapter_link{
        .event_top_tab;
        margin-left: 10em;
        display: none;
    }
    // Make the top tabs appear
    &.selected{
        .new_chapter_link, .delete_chapter_link{
            z-index: @event-overlay-z-index + 1;
            display:block;
        }
    }   
}

@event-overlay-z-index: 2;
.event_overlay{
    position: absolute;
    z-index: event-overlay-z-index;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    top:0;
    left:0;
}
// DETAILS

.chapter{
    .event_block;

    header{
        font-size: 1.4em;
        text-align: center;
        position: relative;
        padding: 4em 0 1em; // Use padding instead of margin to give anchor links a nice amount space above the chapter number
        font-family: Times;

        .chapter_number{
            margin-bottom: 0.5em;
            display: block;
            font-variant: small-caps;
        }
        h2{
            margin: 0.5em 0 0.5em;
            color: rgb(25,94,196);
            font-variant: small-caps;
            input{
                text-align:center;
                .editable_text_input;
                &:hover{
                    text-decoration: underline;        
                } 
            }
        }
        h3{
            margin-top: 0.5em;
            margin-bottom: 0;
            font-style: italic;
            font-weight: normal;
            input{
                text-align:center;
                .editable_text_input;
                &:hover{
                    text-decoration: underline;        
                } 
            }
        }
    }
}
// Hide empty notes unless the event is selected
.chapter header h3.empty{
    display:none;
}
.event.selected .chapter header h3{
    display:block;
}


// COMMENT
.comment{
    .event_block;
    .event_timestamp;
    .event_service_icon;
}

// CHECKIN
.checkin{
    .event_block;
    .event_timestamp;
    .event_service_icon;
}

// NOTE

.note{
    position: relative;

    .editable_note{
        .editable_text_input;
        .border-box;
        background: #FFD;
        border: 1px solid #EDA;
        padding: 0.5em;    
        font-family: 'Georgia', Times, serif;
    }
}

// Hide empty notes unless the event is selected
.event .note{
    padding-top: @event-padding / 2;
    margin-top: @event-padding / 2;
    border-top: 1px dotted #CCC; 
    display:block;
}
.event .note.empty{
    display:none;
}
.event.selected .note{
    display:block;
}

// PHOTO
.photo {
    width: 210px;
    text-align: center;
    position: relative;
    display: inline-block;
    .delete_photo_link{
        > img{
            .delete_button;
        }
        display:inline-block;
        vertical-align: top;
        left: -20px;
        position: relative;
        top: -5px;        
        height: 0;
        width: 0;
        z-index: 1;
        visibility:hidden;
    }
    > img{
        .thumbnail-border;
        vertical-align: middle;
    }
}
.event.selected .photo .delete_photo_link{
    visibility:visible;
}
