<%= content_tag :div, :class => 'checkin clickable', :id => dom_id(checkin) do %>
    <%= event_timestamp(checkin.event) %>
    <div class='body'>
        <div class='content'><%= event_service_icon(checkin.event) %><%= checkin.place %></div>
    </div>
<% end %>